AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2024-06-01

TELECOM_API_BASE_URL=https://telecom-poc-andkaxb4hrapgfhw.southafricanorth-01.azurewebsites.net
TELECOM_API_KEY=

INTENT_CONFIDENCE_THRESHOLD=0.80

APP_ENV=development
LOG_LEVEL=INFO

CORS_ALLOW_ORIGINS=*
